html {
    box-sizing: border-box;
    background-color: black;
    height: 1000px;
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
}
.box_h{
    width: 1460px;
    height: 220px;
    background: #000000;
    margin-left: 0;
    margin-top: 0;
}

.box_hw {
    color:#ACAAFF; 
    font-family: 'Allura', cursive;
    font-size: 100px;
    font-weight: 100px;
    padding: 40px 60px ;
    text-decoration: none;
    position: absolute;
}
.box_hp{
    width: 1440px;
    display: flex;
    position: absolute;
}
.box_sr{
    Width: 300px;
    height: 50px;
    text-decoration: none;
    margin:80px -60px 0 850px ;
    padding-top:3px ;
    background: #2B26FF;
    border-radius: 30px;
    display: flex;
    position: absolute;  
  
}
.box_srw{
 margin-left:25px ;
    font-size: 30px;
    opacity: 0.5;
    color: floralwhite;
}

.box_sr1{
    Width: 30px;
    height: 20px;
    margin-top: 7px;
    margin-left: 135px;
    position: relative;  
}
.pic1{
    position:absolute;
}
.box_p{
    width: 400px;
   padding: 80px 0 0 1170px;
   display: flex;
    position: relative;  
}
.pic2{
   margin-right: 10px;
}
.pic2:hover{
    border: #ffffff;
    border-radius: 5px;
}
.pic3{
    margin-right: 10px;
  }
.pic4{
    margin-right: 10px;
  }
  .main{  
    z-index: -1;
    width:1280px;
    height: 1653px;
    margin:0 auto;
     background-repeat:no-repeat;
     width: 1460px;
      height: 1200px;
      background-position: center;
      background-size: cover;
      margin-top: 0 auto;
      position: absolute;
  }
.main img{
  min-height:100%;
    width:100%;
} 
.box_s{
    margin-top: 173px;
    margin-left: 180px;
}

.box_si{
    margin-top: 5px;
    margin-left: 178px;
    position: relative;
}
.box_mm{
    opacity: 0.8;
    width: 300px;
    height: 88px;
    top: 350px;
    left: 576px;
    border-radius: 25px;
    background-color: #C4C4C4;
    position: absolute;
}
.box_mmi{
    color: black;
    margin-top: 3px;
    margin-left: 88px;
    font-size: 60px;
}
.box_ms{
    display: flex;
}
.box_ms1{
    background: #ddd;
    border-radius: 27px ;
    float: left;
    margin-top: 265px;
    margin-left: 100px;
    position: relative;
    width: 300px;
    height: 300px;
    transition: background 0.3s ease-out;
  }
  .box_ms1 img{
    height: 300px;
    width: 300px;
    opacity: 1; 
    display: block;
    position: relative;
    transition: opacity 0.3s ease-in-out;
  }
  
  .box_ms1 h2{
    width: 300px;
    height: 300px;
    font-size: 50px;
    padding: 30px; 
    opacity: 0;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
  }
  .box_ms1 h2 a{
    color: #001AFF;
    text-decoration: none;
    text-align: center;
  
  }
  .box_ms1:hover img{
    opacity: 0.4;
  }
  .box_ms1:hover h2{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  
  }


  .box_ms2{
    background: #ddd;
    border-radius: 27px ;
    float: left;
    margin-top: 265px;
    margin-left: 30px;
    position: relative;
    width: 300px;
    height: 300px;
    transition: background 0.3s ease-out;
  }
  .box_ms2 img{
    height: 300px;
    width: 300px;
    opacity: 1; 
    display: block;
    position: relative;
    transition: opacity 0.3s ease-in-out;
  }
  
  .box_ms2 h2{
    width: 300px;
    height: 300px;
    font-size: 50px;
    padding: 30px;
    opacity: 0;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
  }
  .box_ms2 h2 a{
    color: #001AFF;
    text-decoration: none;
    text-align: center;
  
  }
  .box_ms2:hover img{
    opacity: 0.4;
  }
  .box_ms2:hover h2{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  
  }

  .box_ms3{
    background: #ddd;
    border-radius: 27px ;
    float: left;
    margin-top: 265px;
    margin-left: 30px;
    position: relative;
    width: 300px;
    height: 300px;
    transition: background 0.3s ease-out;
  }
  .box_ms3 img{
    height: 300px;
    width: 300px;
    opacity: 1; 
    display: block;
    position: relative;
    transition: opacity 0.3s ease-in-out;
  }
  
  .box_ms3 h2{
    width: 300px;
    height: 300px;
    font-size: 50px;
    padding: 30px;
    opacity: 0;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
  }
  .box_ms3 h2 a{
    color: #001AFF;
    text-decoration: none;
    text-align: center;
  
  }
  .box_ms3:hover img{
    opacity: 0.4;
  }
  .box_ms3:hover h2{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  
  }
  .box_ms4{
    background: #ddd;
    border-radius: 27px ;
    float: left;
    margin-top: 265px;
    margin-left: 30px;
    position: relative;
    width: 300px;
    height: 300px;
    transition: background 0.3s ease-out;
  }
  .box_ms4 img{
    height: 300px;
    width: 300px;
    opacity: 1; 
    display: block;
    position: relative;
    transition: opacity 0.3s ease-in-out;
  }
  
  .box_ms4 h2{
    width: 300px;
    height: 300px;
    font-size: 50px;
    padding: 30px;
    opacity: 0;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
  }
  .box_ms4 h2 a{
    color: #001AFF;
    text-decoration: none;
    text-align: center;
  
  }
  .box_ms4:hover img{
    opacity: 0.4;
  }
  .box_ms4:hover h2{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  
  }
  .box_ms_2{
      width: 1260px;
    display: flex;
}
  .box_ms5{
    background: #ddd;
    border-radius: 27px ;
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    position: relative;
    width: 300px;
    height: 300px;
    transition: background 0.3s ease-out;
  }
  .box_ms5 img{
    height: 300px;
    width: 300px;
    opacity: 1; 
    display: block;
    position: relative;
    transition: opacity 0.3s ease-in-out;
  }
  
  .box_ms5 h2{
    width: 300px;
    height: 300px;
    font-size: 50px;
    padding: 40px;
    opacity: 0;
    text-align: center;
    display: block;
    position: absolute;
    top: 25px;
  }
  .box_ms5 h2 a{
    color: #001AFF;
    text-decoration: none;
    text-align: center;
  }
  .box_ms5:hover img{
    opacity: 0.4;
  }
  .box_ms5:hover h2{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  
  }
  .box_ms6{
    background: #ddd;
    border-radius: 27px ;
    float: left;
    margin-top: 50px;
    margin-left:30px;
    position: relative;
    width: 300px;
    height: 300px;
    transition: background 0.3s ease-out;
  }
  .box_ms6 img{
    height: 300px;
    width: 300px;
    opacity: 1; 
    display: block;
    position: relative;
    transition: opacity 0.3s ease-in-out;
  }
  
  .box_ms6 h2{
    width: 300px;
    height: 300px;
    font-size: 50px;
    padding: 40px;
    opacity: 0;
    text-align: center;
    display: block;
    position: absolute;
    top: 25px;
  }
  .box_ms6 h2 a{
    color: #001AFF;
    text-decoration: none;
    text-align: center;
  }
  .box_ms6:hover img{
    opacity: 0.4;
  }
  .box_ms6:hover h2{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  
  }
  .box_ms7{
    background: #ddd;
    border-radius: 27px ;
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    position: relative;
    width: 300px;
    height: 300px;
    transition: background 0.3s ease-out;
  }
  .box_ms7 img{
    height: 300px;
    width: 300px;
    opacity: 1; 
    display: block;
    position: relative;
    transition: opacity 0.3s ease-in-out;
  }
  
  .box_ms7 h2{
    width: 300px;
    height: 300px;
    font-size: 50px;
    padding: 40px;
    opacity: 0;
    text-align: center;
    display: block;
    position: absolute;
    top: 25px;
  }
  .box_ms7 h2 a{
    color: #001AFF;
    text-decoration: none;
    text-align: center;
  }
  .box_ms7:hover img{
    opacity: 0.4;
  }
  .box_ms7:hover h2{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  
  }

  .box_ms8{
    background: #ddd;
    border-radius: 27px ;
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    position: relative;
    width: 300px;
    height: 300px;
    transition: background 0.3s ease-out;
  }
  .box_ms8 img{
    height: 300px;
    width: 300px;
    opacity: 1; 
    display: block;
    position: relative;
    transition: opacity 0.3s ease-in-out;
  }
  
  .box_ms8 h2{
    width: 300px;
    height: 300px;
    font-size: 50px;
    padding: 40px;
    opacity: 0;
    text-align: center;
    display: block;
    position: absolute;
    top: 25px;
  }
  .box_ms8 h2 a{
    color: #001AFF;
    text-decoration: none;
    text-align: center;
  }
  .box_ms8:hover img{
    opacity: 0.4;
  }
  .box_ms8:hover h2{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  
  }
.box_f{
    width: 1460px;
    height: 400px;
    margin-top: 180px;
    position: absolute;
    background-color:  #ADA8A8;
}
.box_f{
    display: flex;
}
.box_f1{
   margin-top: 150px;
   margin-left: 300px;
}
.box_f2{
    margin-top: 150px;
    margin-left: 300px;
 }
 .box_f3{
    margin-top: 150px;
    margin-left: 300px;
 }
